In [1]:
import pandas as pd
import numpy as np
import json
import re

# Leitura dos csvs

In [82]:
acidents_data = pd.read_csv('data/acidentes-2016.csv', sep=';')
acidents_data[0:20].dtypes

ID              int64
LONGITUDE     float64
LATITUDE      float64
LOG1           object
LOG2           object
PREDIAL1        int64
LOCAL          object
TIPO_ACID      object
LOCAL_VIA      object
QUEDA_ARR       int64
DATA           object
DATA_HORA      object
DIA_SEM        object
HORA           object
FERIDOS         int64
FERIDOS_GR      int64
MORTES          int64
MORTE_POST      int64
FATAIS          int64
AUTO            int64
TAXI            int64
LOTACAO         int64
ONIBUS_URB      int64
ONIBUS_MET      int64
ONIBUS_INT      int64
CAMINHAO        int64
MOTO            int64
CARROCA         int64
BICICLETA       int64
OUTRO           int64
TEMPO          object
NOITE_DIA      object
FONTE          object
BOLETIM         int64
REGIAO         object
DIA             int64
MES             int64
ANO             int64
FX_HORA       float64
CONT_ACID       int64
CONT_VIT        int64
UPS             int64
CONSORCIO      object
CORREDOR        int64
dtype: object

In [39]:
ender_semaf = pd.read_excel('data/semaforos.xlsx')

In [18]:
eletronic_spine = pd.read_excel('data/lombadas.xls', header=None, names=['Endereco_detalhado'])

In [19]:
sparrow = pd.read_excel('data/pardais.xls')

# Tratamento dos dados

#### Transformando colunas LOCAL, TIPO_ACID E REGIAO em categóricos

In [59]:
acidents_data['LOCAL'] = acidents_data['LOCAL'].astype('category') # Cruzamento ou Logradouro
acidents_data['TIPO_ACID'] = acidents_data['TIPO_ACID'].astype('category') # ATROPELAMENTO, ABALROAMENTO, CHOQUE, COLISAO
acidents_data['REGIAO'] = acidents_data['REGIAO'].astype('category') # Sul, Leste, Centro, Norte, Oeste

Metodo 'remove_accents' retira os acentos das letras, utilizado para retirar os acentos dos endereços para a tentativa de um possível casamento com os endereços do acidentes.
E leitura do dataset de semáforos separando os endereços dos cruzamentos em dois endereços separados em Log1 e Log2.

In [60]:
def remove_accents(word):
    word = word.lower()
    word = word.replace('ç','c')
    word = word.replace('ó','o')
    word = word.replace('ô','o')
    word = word.replace('ò','o')
    word = word.replace('õ','o')
    word = word.replace('á','a')
    word = word.replace('à','a')
    word = word.replace('â','a')
    word = word.replace('ã','a')
    word = word.replace('é','e')
    word = word.replace('è','e')
    word = word.replace('ê','e')
    word = word.replace('í','i')
    word = word.replace('ì','i')
    word = word.replace('ú','u')
    word = word.replace('ù','u')
    word = word.replace('ü','u')
    return word.upper()

In [73]:
type("aaaaa ".strip())

str

In [74]:
ender_semaf['Log1'] = ender_semaf['Endereco'].apply(lambda x: remove_accents(re.match(r'(.*) X (.*)', x).groups()[0]))
ender_semaf['Log2'] = ender_semaf['Endereco'].apply(lambda x: remove_accents(re.match(r'(.*) X (.*)', x).groups()[1]))

Tentativa de Casamento dos endereços de cruzamento dos semáforos com os de cruzamento do de acidentes.
Demora MUITO;
Talvez melhore se der uma filtrada só pelos cruzamentos do dataset;
Porém não tá funcionando!!!

In [86]:
def has_semaf(log1, log2, semaf_log1, semaf_log2):
    log1 = log1.strip()
    log2 = log2.strip()
    semaf_log1 = semaf_log1.strip()
    semaf_log2 = semaf_log2.strip()
    if (semaf_log1 in log1 and semaf_log2 in log2) or \
        (semaf_log1 in log1 and log2 in semaf_log2) or \
        (log1 in semaf_log1 and semaf_log2 in log2) or \
        (log1 in semaf_log1 and log2 in semaf_log2):
        return True
    else:
        return False

In [ ]:
semaf_data = []
for i, data in acidents_data.iterrows():
    has_semaforo = False
    for j, semaf in ender_semaf.iterrows():
        has_semaforo = has_semaforo or has_semaf(data['LOG1'], data['LOG2'], semaf['Log1'], semaf['Log2'])
        if has_semaforo:
            break
    if has_semaforo:
        semaf_data.append(1)
    else:
        semaf_data.append(0)
        
semaf_data

In [24]:
def getNumberAdress(adress):
    number = re.search('\d+(?![\d+a-z])', adress)
    return number.group() if number is not None else np.nan

def fixAdress(adress):
    invalidWord = ['entre', 'defronte', 'nro', 'corredor']
    fix = adress.split(' ')
    rightAdress = ''
    for word in fix:
        if word.lower() in invalidWord or len(word) == 1:
            break
        else:
            rightAdress += word + ' '
    return rightAdress[:-1]

In [25]:
eletronic_spine['Endereco'] = eletronic_spine['Endereco_detalhado'].apply(lambda x: fixAdress(re.sub('[\d+]', '', x)))
eletronic_spine['Numero'] = eletronic_spine['Endereco_detalhado'].apply(lambda x: getNumberAdress(x))
eletronic_spine.head()

,Endereco_detalhado,Endereco,Numero
0,Av. Antônio de Carvalho 1655,Av. Antônio de Carvalho,1655
1,Av. Antônio de Carvalho entre 1800 e 1820,Av. Antônio de Carvalho,1800
2,Antônio de Carvalho 2320,Antônio de Carvalho,2320
3,Av. Antônio de Carvalho a 10m do nro 2079 -,Av. Antônio de Carvalho,2079
4,Mal. José Inácio da Silva a 14 5m da Rua Nova ...,Mal. José Inácio da Silva,14

In [26]:
sparrow['Endereco'] = sparrow['Logradouro'].apply(lambda x: fixAdress(re.sub('[\d+]', '', x)))
sparrow['Numero'] = sparrow['Logradouro'].apply(lambda x: getNumberAdress(x))
sparrow.head()

                       Logradouro              Endereco Numero
0           Av. Assis Brasil 4935     Av. Assis Brasil    4935
1  Av. Assis Brasil defronte 4945      Av. Assis Brasil   4945
2           Av. Assis Brasil 8207     Av. Assis Brasil    8207
3           Av. Assis Brasil 8292     Av. Assis Brasil    8292
4        Av. Bento Gonçalves 4021  Av. Bento Gonçalves    4021

In [12]:
bike_path = pd.read_csv('data/cicloviasimplantadas.csv', sep=';')
bike_path = bike_path.drop(columns=['geojson'])
bike_path.head()

   id   situacao                   nome
0   1  CONCLUIDO            JOAO PESSOA
1   2  CONCLUIDO  JOAO ANTONIO SILVEIRA
2   3  CONCLUIDO  JOAO ANTONIO SILVEIRA
3   4  CONCLUIDO  JOAO ANTONIO SILVEIRA
4   5  CONCLUIDO  JOAO ANTONIO SILVEIRA

#### Tentativa de uso da API do Google Maps Para recuperar Lat e Long dos cruzamentos (exemplo feito com 'rua 24 de outubro & rua bordini')
*tem que instalar o googlemaps*

In [6]:
import googlemaps

In [7]:
gmaps_key = googlemaps.Client(key='AIzaSyAujegYRzORqrZZN3vDi6yjbtsRqlH8vYY')

In [15]:
# funcionou da primeira vez, mas parou
# pelo que vi, pra pegar cruzamento
# funcionou depois que eu troquei a key do maps
geocode = gmaps_key.geocode('rua 24 de outubro & rua bordini, porto alegre')
geocode